<!DOCTYPE html>
<html>
  <head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--Material Design Bootstrap-->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!--Custom Styles. Last on list in order to avoid it being overriden-->
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <title>Fonji | Personal Blog</title>
  </head>
  <body>

    <a href="/blog" class="main-title">Personal Blog</a>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
