<!DOCTYPE html>
<link rel="import" href="./main.py">
<html lang="en">
  <head>
    <title>Fonji | Personal Blog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--for viewport, match screen's width in device independent pixels
      and establish a 1:1 relationship between device independ pixels and css pixels-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--Material Design Bootstrap-->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!--Custom Styles. Last on list in order to avoid it being overriden-->
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="container">
      <div class="row" id="set-height">
      <div class="col-md-12">
        <nav class="navbar navbar-fixed-top navbar-light lighten-4" id="navbar-color">
        <div class="container-fluid">
        {% if user %}
          <a class="navbar-brand" href="#">{{user.name}}</a>
          <ul class="nav navbar-nav navbar-right">
            {% for href, id, caption in navigation_bar %}
            {% if id == active_page %}
            <li class="nav-item active">
              <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>

            {% endif %}
            {% endfor %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        {% else %}
          <a class="navbar-brand" href="#">Blog</a>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">

              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          </ul>
        {% endif %}
        </div>
      </nav>
    </div>
      </div>

    <div class="row">
      <div class="col-md-12 text-left text-uppercase">
        <a class="main-title">Multi-User Blog</a>
      </div>

      {% block content %}
      {% endblock %}


      </div>
    </div>
  </body>
</html>
