{% extends "base.html" %}

{% block content %}

<div class="col-md-6 login-form">
<!--Form with header-->
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="form-header blue-gradient">
            <h3><i class="fa fa-user"></i> Register:</h3>
        </div>

        <!--Body-->
        <form method="post">
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="username" placeholder="name" value="{{username}}" id="form3" class="form-control">
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" name="password" value="" id="form4" placeholder="password" class="form-control">

        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" name="verify" value="" placeholder="verify password" class="form-control">
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" placeholder="email" name="email" value="{{email}}" class="form-control">
        </div>

        <div class="text-xs-center text-center text-center error">
            <button class="btn btn-indigo ">Sign up</button>
            <hr>
            <fieldset class="form-group">
            <p>{{error_username}}</p> <p>{{error_password}}</p> <p>{{error_verify}}</p> <p>{{error_email}}</p>
            </fieldset>
        </div>
    </form>

    </div>
</div>
</div>
<!--/Form with header-->

{% endblock %}
